<header>
    <h1>About Me</h1>

    <button id="themeSwitch">
        <span class="icon">🌞</span>
        <noscript>
            <p>Certain features such as theme toggling are not available without JavaScript. Please enable it to access those features.</p>
        </noscript>
    </button>

    <nav>
        <ul>
            <li><a href="../index.html">Resume</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="../projects/projects.html">Projects</a></li>
            <li><a href="../contact/contact.html">Contact</a></li>
            <li><a href="../contact/form-no-js.html">No JS Contact Form</a></li>
        </ul>
    </nav>
</header>