<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Jett Ngo's Biography</title>
        <meta charset="UTF-8">
        <meta name="description" content="Biography">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/main_style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <style>
            blockquote{
                background-color: white;
            }
            .highlight{
                color: green;
            }
        </style>
    </head>
	<body>
		<slot />
	</body>
</html>

<style>
	html, body {
		width: 100dvw;
		height: 100dvh;
	}
</style>
